@charset "utf-8";
h1 { align-content: center;
    color: orange;
    text-decoration: overline;
    font-family: sans-serif;
}
h3  { align-content: center;
    color: mediumpurple;
    text-decoration: underline;
    font-family: sans-serif;
}
li  { align-content: center;
    color: gold;
    font-family: sans-serif;
}
p {
    text-align: left;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: gold ;
	font-size: 17px; }